# Core framework
Django==5.1
psycopg2-binary==2.9.9

# UI and request handling
django-htmx==1.21.0
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
whitenoise==6.7.0

# Reporting and spreadsheet export
reportlab==4.2.0
openpyxl==3.1.2
xlrd==2.0.2


# Document Parsers (Required for CAPA document upload & processing)
python-docx==1.1.2
pypdf==4.2.0

# Media and protections
Pillow==10.3.0
django-ratelimit==4.1.0
